body {
	padding: 0 15rem ;
}

ul {
    display: flex;
    flex-wrap: wrap;
}
li {
	display: flex;
	justify-content: space-between;
	flex-wrap:  wrap;
	width: 33%;
	box-sizing: border-box;
}
.operations {
	display: flex;
	justify-content: space-between;
}
#counter {
	display: flex;
}
output {
	width: 34px;
	height: 34px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}